@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1440' preserveAspectRatio='none' viewBox='0 0 1440 1440'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1531%26quot%3b)' fill='none'%3e%3crect width='1440' height='1440' x='0' y='0' fill='url(%23SvgjsLinearGradient1532)'%3e%3c/rect%3e%3cpath d='M 0%2c126 C 72%2c185 216%2c419 360%2c421 C 504%2c423 576%2c135 720%2c136 C 864%2c137 936%2c406.2 1080%2c426 C 1224%2c445.8 1368%2c273.2 1440%2c235L1440 1440L0 1440z' fill='rgba(61%2c 138%2c 167%2c 0.56)'%3e%3c/path%3e%3cpath d='M 0%2c495 C 36%2c576.8 108%2c868.8 180%2c904 C 252%2c939.2 288%2c695.8 360%2c671 C 432%2c646.2 468%2c797.4 540%2c780 C 612%2c762.6 648%2c587.2 720%2c584 C 792%2c580.8 828%2c752.2 900%2c764 C 972%2c775.8 1008%2c608.8 1080%2c643 C 1152%2c677.2 1188%2c948.6 1260%2c935 C 1332%2c921.4 1404%2c647 1440%2c575L1440 1440L0 1440z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c1036 C 57.6%2c1106 172.8%2c1386 288%2c1386 C 403.2%2c1386 460.8%2c1028.4 576%2c1036 C 691.2%2c1043.6 748.8%2c1399.2 864%2c1424 C 979.2%2c1448.8 1036.8%2c1166.8 1152%2c1160 C 1267.2%2c1153.2 1382.4%2c1344 1440%2c1390L1440 1440L0 1440z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1531'%3e%3crect width='1440' height='1440' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='0%25' x2='0%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1532'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.34'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 34%2c 158%2c 1)' offset='0.7'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

}

::selection{
  background: #4286f4;
  color: #fff;
}

#navbar{
    height: 50px;
    display: flex;
    justify-content: space-between;
}
#navbar img{
    size: 40px;
}

#navbar {
    
    overflow: hidden;
    padding: 0 0 0 20px ; 
    transition: 0.3s; 
    position: fixed;
    width: 100%;
    top: 0;
    display: inline-flexblock;
}


#navbar a {
    float: left;
    color: #000000 ; 
    text-decoration: rgba(61, 138, 167, 0.56);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 2px;
}


#navbar #logo a{
    font-size: 40px;
    margin-right: 70%;
    font-weight: bold;
    background-color: rgba(61, 138, 167, 0.56);
    transition: 0.4s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#navbar a:hover {
    
    color: rgb(255, 255, 255);


}

#navbar a.active {
    
    color: rgba(61, 138, 167, 0.56);
    font-size: 30px;
    font-family: 'Cookie', cursive;
}


#navbar-right {
    float: right;
    box-shadow: 10px 10px lightblue;;
    padding-right: 0.5cm;
    box-shadow: 10px 10px rgba(61, 138, 167, 0.56);
    margin-left: 50px;
}

.title-text {


    font: normal 36px 'Cookie', cursive;
    margin: 0;
   }

.title-text span{
  color: #29539b;
}
.title-text h3{
  color: #29539b;
}

.footer-left h3 {
  font : 'Cookie', cursive;
}

.wrapper{
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  align-content: center;

  margin-top: 65px;
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #4286f4, #373B44);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: #317df7;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: #317df7;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #317df7, #373B44, #317df7, #373B44);
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}


/* FOOTER SECTION, AÚN ME FALTA HACERLE ALGUNAS COSAS IGUAL QUE AL DEL HOME */


footer{
  position: relative;
  bottom: 0;
 }
 .footer-distributed{
  background-color: #292c2f18;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  
  padding: 28px 25px;
  margin-top: 80px;
 }
  
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
 }
  
 .footer-distributed .footer-left{
  width: 40%;
 }
  
 .footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
 }

 .footer-distributed a{
  text-decoration: none;
 }
  
 .footer-distributed h3 span{
  color:  #5383d3;
 }
  
  
 .footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
 }
  
 .footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
 }
  
 .footer-distributed .footer-daily-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
 }
  
  
 .footer-distributed .footer-center{
  width: 35%;
 }
  
 .footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
 }
  
 .footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
 }
  
 .footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
 }
  
 .footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
 }
  
 .footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
 }
  
 .footer-distributed .footer-right{
  width: 20%;
 }
  
 .footer-distributed .footer-daily-about{
  line-height: 22px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
 }
  
 .footer-distributed .footer-daily-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 18px;
 }

 .footer-daily-about span {
  margin: 5px;
 }
  
 .footer-distributed .footer-icons{
  margin-top: 20px;
 }
  
 .footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 32px;
  
  margin-right: 3px;
  margin-bottom: 2px;
 }

 .footer-center .fa fa-map-marker .fa fa-phone .fa fa-envelope i{
  width: 10px;
  height: 10px;
 }
  
  
 @media (max-width: 880px) {
  
  .footer-distributed{
  font: bold 14px sans-serif;
  
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 25px;
  text-align: center;
  }
  
  .footer-distributed .footer-center i{
  margin-left: 0;
  margin-block: 5px;
  }

@media (min-width: 768px) {
    .navbar{
      text-align: center !important;
      float: none;
      display: inline-block;
    }
}}


/* THEME CREATE BY : JHOAN

▪▀▄▀▪ |̿ \͇|  |̶͇̿ ̶͇̿ ͇̿  \ ͇ /  |̶͇̿ ̶͇̿ ͇̿  |̿ ̿ ̿\  |̿ V ̿|  |  |̿ \͇|  |͇̿ ͇̿ ͇̿ ͇̿)     |͇̿ ͇̿ ͇̿ ͇̿  |͇̿ ͇̿ ͇̿|  |͇̿ ͇̿ ͇̿ ͇̿)  |̶͇̿ ̶͇̿ ͇̿  ▪▀▄▀▪


                     |͇̿ ͇̿ ͇̿ ͇̿  |̿ ̿ ̿\  |̶͇̿ ̶͇̿ ͇̿  |̶̿ ̶̿ ̶̿ ̶̿|  ̿ ̿|̿ ̿  |̶͇̿ ̶͇̿ ͇̿  |͇̿ ͇̿ ͇̿ ͇̿)    8/12/22 

*/